---
import Layout from '~/layouts/PageLayout.astro';


import FeaturesSzkolenia from '~/components/widgets/FeaturesSzkolenia.astro';
import { getPermalink } from '~/utils/permalinks';
import Testimonials from '~/components/widgets/Testimonials.astro';

const metadata = {
  title: 'Courses — Patryk Kosieradzki',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>

  <FeaturesSzkolenia
    subtitle="Level up your mobile development career with expert-curated resources and training!"
    items={[
      {
        title: 'Android Architecture WEBINAR',
        description:
          'Learn how to build robust application architecture in large projects, using a demo app with Clean Architecture, MVVM and Jetpack Compose',
        icon: 'flat-color-icons:webcam',
        callToAction: { 
          variant: 'primary', 
          text: 'Join the mailing list', 
          href: getPermalink('/webinar-architektura-na-androidzie') 
        },
        image: {
          src: '~/assets/images/webinar/hero.jpg',
          alt: 'Android Architecture Webinar',
        },
      },
    ]}
  >
  <Fragment slot="title">
    <h1 class="text-5xl md:text-6xl font-bold leading-tighter tracking-tighter mb-4 font-heading dark:text-gray-200">Courses</h1>
  </Fragment>
  </FeaturesSzkolenia>

  <Testimonials
    title="What Participants say about our Courses?"
    subtitle="Our courses received many positive reviews. Here are some of them!"
    testimonials={[
      {
        testimonial: `Thank you so much for the training - a huge dose of knowledge that quite significantly <b>changed my perspective on Android programming</b> and showed me how to make the code better. <br><br>It's clear that <b>you don't just teach</b>, but you also have <b>practical experience</b> in the topics you talk about.`,
        name: 'Bartłomiej Blachura',
        course: '3-day Android training',
        job: 'Android Developer at dmt Software House',
        image: {
          src: '~/assets/images/webinar/opinie/bartlomiej_b.jpeg',
          alt: 'Photo',
        },
      },
      {
        testimonial: `What I liked most was learning your <b>Tips & Tricks</b> (various extensions, both yours and available online) that you've developed. <br><br><b>These are things that aren't easy to find</b> without extensive experience, and they'll serve as our foundation.`,
        name: 'Paweł',
        course: '3-day Android training',
        job: 'Android Developer at dmt Software House',
        image: {
          src: '~/assets/images/webinar/opinie/no-profile-picture.jpg',
          alt: 'Photo',
        },
      },
      {
        testimonial: `Very interesting webinar. <b>Lots of knowledge plus a very well-explained project!</b>`,
        name: 'Michał Bogucki',
        job: 'Android Developer',
        course: 'Android Architecture (WEBINAR)',
        image: {
          src: '~/assets/images/webinar/opinie/no-profile-picture.jpg',
          alt: 'Photo',
        },
      },
      {
        testimonial: `<b>Good explanation of what domain is, clean architecture</b>, and the differences between UseCase and Interactor`,
        name: 'Robert Sajdok',
        job: 'Android Developer',
        course: 'Android Architecture (WEBINAR)',
        image: {
          src: '~/assets/images/webinar/opinie/no-profile-picture.jpg',
          alt: 'Photo',
        },
      },
      {
        testimonial: `The webinar topic was very timely because the next day I had an architectural challenge at work in a technical debt task :)`,
        name: 'Katarzyna',
        job: 'Android Developer',
        course: 'Android Architecture (WEBINAR)',
        image: {
          src: '~/assets/images/webinar/opinie/no-profile-picture.jpg',
          alt: 'Photo',
        },
      },
    ]}
  />

</Layout>
