---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';

import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Hero2 from '~/components/widgets/Hero2.astro';

const metadata = {
  title: 'Od solidnej architektury po bezpieczeństwo aplikacji mobilnych — Patryk Kosieradzki',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  
  <Hero2
    tagline="O aplikacjach mobilnych"
    actions={[
      { variant: 'primary', target: '_blank', text: 'Dołącz do newslettera 📲', href: 'https://mobiledevnews.com' },
      { text: 'Ostatnie wpisy', href: '#ostatnie' },
    ]}
    image={{
      src: '~/assets/images/hero.jpg',
      alt: 'Architektura i Bezpieczeństwo Aplikacji Mobilnych',
    }}
  >
    <Fragment slot="title">
      Od solidnej architektury po bezpieczeństwo aplikacji mobilnych
    </Fragment>

    <Fragment slot="subtitle">
      Poznaj praktyki i narzędzia, które pozwolą Ci tworzyć niezawodne aplikacje mobilne.
    </Fragment>
  </Hero2>

  <Content
      isReversed
      columns={2}
      items={[
        {
          icon: 'tabler:brand-linkedin',
          callToAction: {
            target: '_blank',
            text: 'LinkedIn',
            href: 'https://www.linkedin.com/in/patrykkosieradzki/',
          },
        },
        {
          icon: 'tabler:brand-twitter',
          callToAction: {
            target: '_blank',
            text: 'Twitter',
            href: 'https://www.twitter.com/p_kosieradzki',
          },
        },
        {
          icon: 'tabler:microphone',
          callToAction: {
            target: '_blank',
            text: 'Podcast',
            href: 'https://androidtalks.com',
          },
        },
        {
          icon: 'tabler:circles-relation',
          callToAction: {
            target: '_blank',
            text: 'Pozostałe linki',
            href: 'https://bio.link/patrykkosieradzki',
          },
        },
      ]}
      image={{
        src: '~/assets/images/patryk.png',
        alt: 'Patryk Kosieradzki',
        loading: 'eager',
      }}
    >

    <Fragment slot="content">
      <h2 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Patryk Kosieradzki<br><span class="text-base uppercase">Android & iOS Developer</span>
      </h2>

      <p>
        Pasjonat dobrze napisanego kodu z wieloletnim doświadczeniem w bankowości oraz fintechu. Swoją wiedzę zdobywał podczas tworzenia i ulepszania licznych aplikacji mobilnych z usługami finansowymi oraz biometrycznymi metodami płatności.
      </p>

      <br />

      <p>
        Na co dzień pracuje jako Senior Android Developer, jednak od jakiegoś czasu przesiadł się na iOS i wspiera zespół mobilny w realizacji bieżących projektów.
      </p>

      <br />

      <!-- Więcej informacji znajdziesz na stronie O mnie -->
      <p>Wszystkie przydatne linki znajdziesz poniej:</p>
    </Fragment>
  </Content>

  <BlogLatestPosts
    id="ostatnie"
    title="Zobacz ostatnie wpisy"
    information={`Architektura, bezpieczeństwo, testy oraz inne szeroko pojęte tematy związane z tworzeniem aplikacji mobilnych`}
  />

</Layout>
