---
import Layout from '~/layouts/PageLayout.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import HeroWithNewsletter from '~/components/widgets/HeroWithNewsletter.astro';
import Hero2 from '~/components/widgets/Hero2.astro';
import { getPermalink } from '~/utils/permalinks';
import FAQs from '~/components/widgets/FAQs.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';

const metadata = {
  title: 'Mobile Dev Newsletter - Free Android & iOS Development Tips, Insights and Resources',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  
 <HeroWithNewsletter
  image={{
    src: '~/assets/images/hero.png',
    alt: 'Mobile App Architecture and Security',
  }}
>
  <Fragment slot="title">
    <span class="text-primary highlight">Elevate your skills</span> as a Mobile App Developer
  </Fragment>

  <Fragment slot="subtitle">
    Sign up for our <b>free newsletter</b> and dive deeper into architecture, security, testing and more. <b>Get expert tips and best practices</b> to scale, maintain, and improve your mobile apps!
<!-- 
    Get expert tips and best practices to scale, maintain, and improve your mobile apps
    Sign up for our free newsletter and gain expert-level knowledge on mobile app development. Dive deeper into architecture, security, testing and essential tools. Start your journey to mastering the skills that set great engineers apart!
    Master the skills and tools to <b>build reliable, high-quality mobile apps</b>. Learn how to create scalable, maintainable, and secure applications. Gain advanced knowledge through <b>expert tips and practical examples</b>. -->
  </Fragment>
</HeroWithNewsletter>

<Testimonials
    title="What others say?"
    testimonials={[
      {
        testimonial: `
Your insights into app architecture and attention to detail are invaluable. The actionable tips and practical advice you share not only improved my project but also gave me a new perspective on writing high-quality code.`,
        name: 'Kasia Kowalczyk',
        job: 'Android Engineer',
        image: {
          src: '~/assets/images/kasia_kowalczyk.jpg',
          alt: 'Kasia\'s photo',
        },
      },
      {
        testimonial: `I loved the way you shared your tips & tricks, especially the ones youve honed over time. These are things you cant easily find without experiencetheyll be a foundation for me.`,
        name: 'Pawe',
        job: 'Android Developer at dmt Software House',
        image: {
          src: '~/assets/images/no-profile-picture.jpg',
          alt: 'Pawe\'s photo',
        },
      },
      {
        testimonial: `Huge dose of knowledge that completely shifted my perspective on Android development. Its clear you dont just teach but share practical experience.`,
        name: 'Bartomiej Blachura',
        job: 'Android Developer at dmt Software House',
        image: {
          src: '~/assets/images/bartlomiej_b.jpeg',
          alt: 'Bartomiej\'s photo',
        },
      },
    ]}
  />

<!-- <Features2
    title="What's inside?"
    subtitle=""
    tagline=""
    items={[
      {
        title: 'All in One Place',
        description: "Stay updated on mobile app development related topics, all in one place. Save time with curated insights, best practices, and the latest trends. Never miss the key updates that can make a difference in your work and elevate your career.",
        icon: 'flat-color-icons:template',
      },
      {
        title: 'Best Practices and Expert Tips',
        description:
          "Save time by having access to best practices an useful tips at your fingertips. Discover effective strategies and techniques to optimize the performance of your apps. Learn how to seamlessly apply them in your projects and daily work.",
        icon: 'flat-color-icons:gallery',
      },
      {
        title: 'Solid App Foundation',
        description:
          'Discover the secrets to build apps that are scalable and easy to maintain. Explore reliable approaches and principles that form the foundation of robust app architecture.',
        icon: 'flat-color-icons:approval',
      },
      {
        title: 'Security Made Simple',
        description:
          "Learn how to identify and tackle vulnerabilities in mobile apps with confidence. Stay ahead of the curve with up-to-date security standards and OWASP best practices.",
        icon: 'flat-color-icons:document',
      },
      {
        title: 'News and Articles',
        description:
          'Every week, Ill send you a selection of the best articles, materials, and updates directly to your inbox. No fluffjust practical insights to help you stay on top of the latest trends, system updates, and tools shaping mobile app development.',
        icon: 'flat-color-icons:advertising',
      },
      {
        title: 'Useful Libraries and Tools',
        description: 'Unlock access to must-have libraries and tools for mobile development, alongside expert tips on how to use them effectively. Whether youre tackling small apps or scaling up bigger projects, these resources will help you code smarter and faster.',
        icon: 'flat-color-icons:currency-exchange',
      }
    ]}
  >
  </Features2> -->

  <!-- <BlogLatestPosts
    id="latest"
    title="See latest articles"
    information={`Architecture, security, testing and other topics related to mobile app development`}
  /> -->


  <!-- <FAQs
    title="Frequently Asked Questions"
    subtitle="Tu znajdziesz odpowiedzi na najczciej zadawane pytania. <br>Chcesz o co jeszcze zapyta? <a class='underline' href='mailto:patryk@patrykkosieradzki.com'>Napisz do mnie</a> "
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'Kiedy si spotykamy?',
        description:
          "Webinar odbdzie si <b>11.07.2024</b> o godzinie <b>20:00.</b>",
      },
      {
        title: 'Czy dostan nagranie po spotkaniu?',
        description:
          "Tak! Ka偶dy po webinarze otrzyma <b>link do nagrania z do偶ywotnim dostpem</b>, aby m贸c do niego wr贸ci w dowolnym momencie.",
      },
      {
        title: 'Dla kogo przeznaczony jest ten Webinar?',
        description:
          "Webinar <b>przeznaczony jest dla wszystkich</b> programist贸w Androida, kt贸rzy chc opanowa solidn architektur w swoich aplikacjach.",
      },
      {
        title: 'Czy bd przykady praktyczne?',
        description:
          "Tak, zobaczysz aplikacj demo, kt贸ra <b>poka偶e praktyczne zastosowanie</b> Clean Architecture, MVVM i Jetpack Compose, przechodzc przez r贸偶ne <b>warstwy aplikacji</b>, obsug danych, logik biznesow oraz obsug bd贸w.",
      },
      {
        title: 'Czy mog zada pytania podczas webinaru?',
        description:
          'Jasne! Druga godzina webinaru przeznaczona jest na <b>pytania i odpowiedzi.</b> Wszystkie zaganienia, o kt贸re zapytasz bd szczeg贸owo om贸wione. A co jeli <b>po webinarze pojawi si dodatkowe pytania?</b> <u>Zawsze mo偶esz zapyta na Discordzie.</u>',
      },
      {
        title: 'Czy musz mie jakie wczeniejsze dowiadczenie z Clean Architecture?',
        description:
          'Nie jest to konieczne, ale podstawowa znajomo platformy Androida bdzie pomocna. Webinar jest zaprojektowany tak, <b>aby ka偶dy m贸g zrozumie i zastosowa</b> przedstawione przykady.',
      },
    ]}
  /> -->

</Layout>
