---
import Layout from '~/layouts/PageLayout.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import HeroWithNewsletter from '~/components/widgets/HeroWithNewsletter.astro';
import Hero2 from '~/components/widgets/Hero2.astro';
import { getPermalink } from '~/utils/permalinks';

const metadata = {
  title: 'Patryk Kosieradzki - Mobile Development Courses, Training & Resources',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  
 <HeroWithNewsletter
  tagline="Master Mobile Development"
  image={{
    src: '~/assets/images/hero.jpg',
    alt: 'Mobile App Architecture and Security',
  }}
>
  <Fragment slot="title">
    Build <span class="text-primary highlight">Future-Proof Mobile Apps</span> That Lead the Market
  </Fragment>

  <Fragment slot="subtitle">
    Master the practices and tools to build reliable applications. Become an expert in developing scalable, maintainable, and secure mobile apps through practical knowledge and real-world experience.
  </Fragment>
</HeroWithNewsletter>

  <BlogLatestPosts
    id="latest"
    title="See latest articles"
    information={`Architecture, security, testing and other topics related to mobile app development`}
  />

</Layout>
