---
import Layout from '~/layouts/PageLayout.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import Hero2 from '~/components/widgets/Hero2.astro';
import { getPermalink } from '~/utils/permalinks';

const metadata = {
  title: 'Patryk Kosieradzki - Doradztwo, Kursy i Szkolenia dla Mobile Developer贸w',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  
  <Hero2
    tagline="Mobile App Development"
    actions={[
      { variant: 'primary', text: 'Poznaj ofert', href: '#oferta' },
      { text: 'Przewodnik Mobile Dev\'贸w ', href: 'https://archiwum.mobiledevnews.com', target: '_blank' },
    ]}
    image={{
      src: '~/assets/images/hero.jpg',
      alt: 'Architektura i Bezpieczestwo Aplikacji Mobilnych',
    }}
  >
    <Fragment slot="title">
      Od solidnej architektury po bezpieczestwo <span class="text-primary highlight"> aplikacji mobilnych</span>
    </Fragment>

    <Fragment slot="subtitle">
      Poznaj praktyki i narzdzia, kt贸re pozwol Ci tworzy niezawodne aplikacje. Zosta ekspertem w tworzeniu skalowalnych, atwych w utrzymaniu i bezpiecznych aplikacji mobilnych.
    </Fragment>
  </Hero2>

  <Content
    id="oferta"
    callToAction={{
      target: '_blank',
      text: 'Zarezerwuj sw贸j termin',
      href: 'mailto:patryk@patrykkosieradzki.com',
      icon: 'tabler:chevron-right',
    }}
    isReversed
    items={[
      {
        icon: 'tabler:user-check',
        title: 'Indywidualne podejcie',
        description: 'Spersonalizowane pytania oraz zadania sprawdzajce Twoj wiedz przed kolejnym procesem rekrutacji. Przetestujesz swoje umiejtnoci w realistycznych warunkach interview z dowiadczonym programist. Wszystko to dobrane pod Ciebie, Twoje wymagania i aktualny rynek.',
      },
      {
        icon: 'tabler:report-analytics',
        title: 'Dokadna analiza',
        description: 'Podczas interview zostaniesz przetestowany pod ka偶dym mo偶liwym ktem. Czekaj na Ciebie zadania i pytania technicze obejmujce aspekty architektury, wielowtkowoci, UI, test贸w, bezpieczestwa i utrzymywania aplikacji. Sprawdzisz r贸wnie偶 umiejtnoci mikkie, aby wypa dobrze w pozostaych rozmowach, np. managerskich.'
      }
    ]}
    image={{
      src: '~/assets/images/mock_interview.jpg',
      alt: 'Mock interviews dla programist贸w aplikacji mobilnych',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-4xl font-bold dark:text-white mb-2">
        Mock interviews<br /><span class="text-2xl">Zyskaj przewag na rynku mobile dev</span>
      </h3>
      <p>Wyr贸偶nij si wr贸d innych kandydat贸w. Przetestuj swoj wiedz, uzupenij braki i przejd藕 gadko przez kolejny proces rekrutacji.</p>
    </Fragment>
  </Content>

  <Content
    isAfterContent
    items={[
      {
        icon: 'tabler:checklist',
        title: 'Feedback w czasie rzeczywistym',
        description: 'Firmy odrzucaj kandydat贸w bez uzasadnienia i feedbacku. Skd masz wiedzie co jest do poprawy oraz gdzie masz braki wiedzy? Tutaj bezporednio po symulacji dowiesz si co poszo dobrze, co mogo p贸j lepiej, a nad czym jeszcze musisz popracowa.'
      },
      {
        icon: 'tabler:terminal-2',
        title: 'Przygotowanie techniczne i mikkie',
        description: 'Mock interview to nie tylko test Twojego dowiadczenia i wiedzy, ale r贸wnie偶 przygotowanie Ci od strony technicznej i mikkiej. Wiedzc ju偶 co poszo nie tak, om贸wimy wszystkie zadania i pytania, a co za tym idzie rozwiejemy Twoje wszelkie wtpliwoci i braki wiedzy. Niezale偶nie od Twojego wyniku, z rozmowy wyjdziesz pewny siebie z konkretnym planem dziaania, wiedzc nad czym pracowa dalej.',
      },
      {
        icon: 'tabler:arrow-bear-right-2',
        title: 'Wskaz贸wki',
        description: 'Opr贸cz testu, zada, pyta, feedbacku oraz przygotowania do dalszego dziaania otrzymasz tak偶e niezbdne wskaz贸wki, dziki kt贸rym Twoje kolejne interview bdzie tylko formalnoci.',
      },
    ]}
    image={{
      src: '~/assets/images/mock_interview_2.jpg',
      alt: 'Mock interviews dla programist贸w aplikacji mobilnych',
    }}
  >
  </Content>

  <BlogLatestPosts
    id="ostatnie"
    title="Zobacz ostatnie wpisy"
    information={`Architektura, bezpieczestwo, testy oraz inne szeroko pojte tematy zwizane z tworzeniem aplikacji mobilnych`}
  />

</Layout>
