---
import Layout from '~/layouts/PageLayout.astro';

import HeroText from '~/components/widgets/HeroText.astro';
import Content from '~/components/widgets/Content.astro';

const metadata = {
  title: 'O mnie — Patryk Kosieradzki',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>

  <HeroText
    title="O mnie"
    subtitle="Kim jestem, czym się zajmuję i co mogę dla Ciebie zrobić?"
  />

  <Content
      isReversed
      columns={2}
      items={[
        {
          icon: 'tabler:brand-linkedin',
          callToAction: {
            target: '_blank',
            text: 'LinkedIn',
            href: 'https://www.linkedin.com/in/patrykkosieradzki/',
          },
        },
        {
          icon: 'tabler:brand-twitter',
          callToAction: {
            target: '_blank',
            text: 'Twitter',
            href: 'https://www.twitter.com/p_kosieradzki',
          },
        },
        {
          icon: 'tabler:microphone',
          callToAction: {
            target: '_blank',
            text: 'Podcast',
            href: 'https://androidtalks.com',
          },
        },
        {
          icon: 'tabler:circles-relation',
          callToAction: {
            target: '_blank',
            text: 'Pozostałe linki',
            href: 'https://bio.link/patrykkosieradzki',
          },
        },
      ]}
      image={{
        src: '~/assets/images/patryk.png',
        alt: 'Patryk Kosieradzki',
        loading: 'eager',
      }}
    >

    <Fragment slot="content">
      <h2 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Patryk Kosieradzki<br><span class="text-base uppercase">Android & iOS Developer</span>
      </h2>

      <p>
        Pasjonat dobrze napisanego kodu z wieloletnim doświadczeniem w bankowości oraz fintechu. Swoją wiedzę zdobywał podczas tworzenia i ulepszania licznych aplikacji mobilnych z usługami finansowymi oraz biometrycznymi metodami płatności.
      </p>

      <br />

      <p>
        Na co dzień pracuje jako Senior Android Developer, jednak od jakiegoś czasu przesiadł się na iOS i wspiera zespół mobilny w realizacji bieżących projektów.
      </p>

      <br />

      <!-- Więcej informacji znajdziesz na stronie O mnie -->
      <p>Wszystkie przydatne linki znajdziesz poniej:</p>
    </Fragment>
  </Content>

</Layout>
